.jumbotron {
  padding: 2rem 1rem;
  border-bottom: 1px solid whitesmoke;
}
body {
  background-color: #bae8f8;
}
#about {
  border-bottom: 1px solid whitesmoke;
}
#services {
  border-bottom: 1px solid whitesmoke;
}
section {
  padding-top: 3rem;
}
#jumbotron {
  padding-top: 5rem;
}
